.header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
}

.headerContent {
    background-color: var(--gray-800);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.25rem 0;
}

.header img {
    height: 2.5rem;
    margin-right: 16px;
}